/* AppComponent's private CSS styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

h1.animate {
  animation-name: animateTitle;
  animation-delay: 0s;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes animateTitle {
  from {
    font-variation-settings: "wdth" 0, "wght" 400;
  }
  to {
    font-variation-settings: "wdth" 800, "wght" 800;
  }
}